.aboutMeContainer {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.outerAboutMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 700px;
}
.outInfo-section {
  display: flex;
  flex-direction: column;
}
.circularPortrait img {
  width: 15em;
  border-radius: 50%;
  margin: 15px;
}
.titleAboutMe {
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
.informationAboutMe {
  font-size: 20px;
  margin: 10px;
  text-align: left;
  padding: 0 15px 0 15px;
}

@media screen and (max-width: 615px) {
  .outerAboutMe {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .outerAboutMe {
    flex-direction: column;
    justify-content: start;
  }
  .circularPortrait img {
    width: 10em;
    border-radius: 50%;
    margin: 120px 10px 10px 10px;
  }
  .informationAboutMe {
    height: 100%;
    width: 300px;
    /* font-size: 25px; */
  }
}

@media screen and (max-width: 375px) {
  .informationAboutMe {
    font-size: 22px;
  }
}
